@import url(./fonts/fonts.css);

html {
  width: -webkit-fill-available;
  min-width: min-content;
  max-width: 100dvw;
  min-height: -webkit-fill-available;
}

body {
  font-family: 'Roboto Flex', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
  margin: 0 23px 0 23px;
  background: linear-gradient(180deg, #000 17.19%, #121212 86.98%);
  display: flex;
}

#root {
  width: 100%;
  height: 100%;
  /* padding-top: 32px; */
  padding-bottom: 32px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #12121288;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Scrollbar For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #12121288;
}

header {
  margin-top: 32px;
  margin-bottom: 32px;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 14px;
}

/* Menu */
.menu-button {
  display: flex;
  flex-flow: column;
  place-content: center;
  width: 56px;
  height: 56px;
  align-items: center;
  gap: 3px;
  background: #eeeeee1a;
  border-radius: 6px;
}

.menu-button:hover {
  background-color: #eeeeee23;
  cursor: pointer;
}

.menu-button:active {
  background-color: #eeeeee1c;
}

.menu-button:hover .menu-button__bar {
  background-color: #d1d1d1;
}

.menu-button:active .menu-button__bar {
  background-color: #919191;
}

.menu-button__bar {
  width: 14px;
  height: 2px;
  background: #ababab;
}

.newMvp_container {
  display: inline-flex;
  background: #eeeeee0a;
  gap: 48px;
  align-items: center;
  border-radius: 6px;
  padding: 20px 38.59px;
  /* width: 100%; */
  flex-direction: row;
  justify-content: center;
}

.newMvp_span_mvps {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

/* Joy UI Select placeholder font-weight */
.css-me27eb-JoySelect-button {
  font-weight: 500;
}

/* Joy UI Select options */
.css-121moso-JoySelect-listbox,
.MuiSelect-listbox {
  background-color: #1e1e1e !important;
}

/* Joy UI Select focus */
.Mui-focusVisible {
  --Select-focusedHighlight: #1e1e1e !important;
  border: 1px solid !important;
}

/* Joy UI Select DISABLED */
.Mui-disabled,
.Mui-disabled > .css-b0m4zx-JoySelect-indicator {
  color: #343434 !important;
  background-color: #161616 !important;
  border: none !important;
  opacity: 0.7;
  --Icon-color: #202020 !important;
}

.newMvp_span_hora {
  display: inline-flex;
  align-items: center;
}

.current_date_btn {
  background: url('./images/location.svg') no-repeat center center;
  background-color: #266a79;
  background-size: 65%;
  margin-right: 16px;
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current_date_btn:hover {
  background-color: #1e5561;
}

.current_date_btn:active {
  background-color: #2d7e90;
}

.current_date_btn:focus-visible {
  outline: none;
  border: 1px solid #abababcc;
  color: #eeeeee;
  background: url('./images/location.svg') no-repeat center center;
  background-color: #266a79;
  background-size: 70%;
}

.newMvp_span_hora input {
  appearance: none;
  min-width: 48px;
  max-width: 54px;
  min-height: 26px;
  border: 1px solid rgba(238, 238, 238, 0.22);
  background: rgba(18, 18, 18, 0.4);
  border-radius: 3px;
  color: #ababab;
  font-family: 'Roboto Flex';
  font-size: 14px;
  font-style: normal;
  font-weight: 500 !important;
  text-align: center;
}

.newMvp_span_hora input::placeholder {
  color: #666666ab;
  text-align: center;
}

.newMvp_span_hora input:hover {
  border: 1px solid #ababab;
  color: #eeeeee;
}

.newMvp_span_hora input:focus-visible {
  outline: none;
  border: 1px solid #abababcc;
  color: #eeeeee;
}

.newMvp_span_hora input::-webkit-outer-spin-button,
.newMvp_span_hora input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* New MVP Form Thumbnails */
.newMvp_thumbnail_container {
  display: flex;
  width: 80.908px;
  height: 83px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2.115px;
  border: 0.705px solid rgba(238, 238, 238, 0.16);
  background: rgba(238, 238, 238, 0.08);
}

.newMvp_thumbnail {
  width: 100%;
  height: 100%;
}

.newMvp_span_hora input:focus:blank:invalid {
  border: 1px solid #ff0000cc;
}

/* Progress Bar Animaton */
@keyframes fillAnimation {
  to {
    width: 0%;
  }
}
.overlayButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 42px;
  height: 42px;
  background-color: #777777cf;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.overlayButtons:hover {
  background-color: #aaaaaa;
}

.deleteButton {
  transition: background-color 1s;
}

.deleteButton .trash-icon {
  color: #470122;
  transition: color 1s;
}

.deleteButton:hover .trash-icon {
  color: #990d4c;
  transition: color 1s;
}

.finishButton {
  transition: background-color 1s;
}

.finishButton .check-icon {
  color: #002d18;
  transition: color 1s;
}

.finishButton:hover .check-icon {
  color: #0c754e;
  transition: color 1s;
}

.overlayButtons:disabled {
  background-color: #333333;
  color: #222222;
  cursor: default;
  pointer-events: none;
}

.finishButton:disabled .check-icon {
  color: #222222;
  cursor: default;
  pointer-events: none;
}

.deleteButton:disabled .trash-icon {
  color: #222222;
  cursor: default;
  pointer-events: none;
}

/* Form Main Buttons */
.formButtons {
  width: 186px;
  height: 40px;
  flex-shrink: 0;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-family: 'Roboto Flex';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.cancelButton {
  background-color: #eeeeee29;
  color: #ababab;
  /* display: none; */
}

.cancelButton:hover {
  background-color: #eeeeee30;
  color: #cccccc;
}

.cancelButton:active {
  background-color: #eeeeee1a;
  color: #ababab;
}

.newMvpButton {
  background-color: #249945;
  color: #121212;
}

.newMvpButton:hover {
  background-color: #2bb652;
}

.newMvpButton:active {
  background-color: #17632d;
}

.MuiDrawer-content {
  background-color: #1a1a1a !important;
}

.optionsLabel {
  color: #bfbfbf;
  font-size: 18px;
  font-weight: 600;
}

.switchSection_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.form_title {
  color: #ddd;
  text-align: right;
  font-family: 'Roboto Flex';
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.switchButton {
  background-color: #eeeeee14;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: fit-content;
  border-radius: 3px;
  padding: 3px 4px;
  margin-bottom: 8px;
  font-family: 'Roboto Flex';
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.switchState {
  background-color: transparent;
  border-radius: 3px;
  padding: 5px 16px;
  cursor: pointer;
  user-select: none;
  color: #666666;
  transition: 0.2s ease-in-out;
}

.switchState:hover {
  color: #ababab;
}

.switchState__active {
  background-color: #3b3b3b;
  color: #dddddd;
}

.switchState__active:hover {
  color: #dddddd;
}

.favoritesBar {
  border-radius: 6px;
  background: #eeeeee0f;
  width: 696px;
  height: 56px;
  flex-shrink: 0;
}

.clockContainer {
  width: 166px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #eeeeee1a;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.clockContainer:hover {
  outline: 1px solid #eeeeee40;
}

.clockTitle {
  color: #ababab;
  text-align: center;
  font-family: 'Roboto Flex';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.clockTime {
  color: #ababab;
  font-family: 'Roboto Flex';
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.clockSeparator {
  line-height: 25px;
  opacity: 0.85;
  animation: clockPulse 5s infinite;
}

@keyframes clockPulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.85;
  }
  100% {
    opacity: 0.2;
  }
}
