body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0 23px 0 23px;
  background: linear-gradient(180deg, #000 17.19%, #121212 86.98%);
  display: flex;
}

#root {
  /* background-color: beige; */
  width: 100dvw;
  height: 100dvh;
}

.newMvp_container {
  display: inline-flex;
  background: #eeeeee0a;
  gap: 24px;
  align-items: center;
  border-radius: 6px;
  padding: 120px 0px;
}

.newMvp_span_mvps select{
  min-width: 193px;
  min-height: 29px;
}

.newMvp_span_hora {
  display: inline-flex;
  align-items: center;
}


.newMvp_span_hora button {
  background-color: #266A79;
  margin-right: 16px;
  min-height: 30px;
  min-width: 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.newMvp_span_hora button:hover {
  background-color: #1E5561;
}

.newMvp_span_hora button:active {
  background-color: #2D7E90;
}

.newMvp_span_hora input{
  min-width: 96px;
  min-height: 26px;
  border: 1px solid rgba(238, 238, 238, 0.22);
  background: rgba(18, 18, 18, 0.40);
  border-radius: 3px;
}

.select_periodo{
  appearance: none;
  min-width: 125.993px;
  min-height: 30px;
  background: #EEEEEE14;
  border-radius: 3px;
  border: 0;
  color: #ABABAB;
  padding-left: 16px;
  padding-right: 12px;
  margin-left: 16px;

  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="%23ABABAB"><path d="M459-381 314-526q-3-3-4.5-6.5T308-540q0-8 5.5-14t14.5-6h304q9 0 14.5 6t5.5 14q0 2-6 14L501-381q-5 5-10 7t-11 2q-6 0-11-2t-10-7Z"/></svg>') no-repeat right center;
  background-color: #EEEEEE14;
  padding-right: 20px;
}

.select_periodo:focus {
  outline: none;
  color: #EEEEEE;
}

.select_periodo option {
  color: #ABABAB;
  background-color: #161616;
}




.serverTime-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 18px;
  padding: 7px;
  border-radius: 6px;
  border: 1px #53abcd solid;
  width: fit-content;
  font-size: 14px;
}

h4 {
  font-size: 12px;
  padding: 0 0 3px 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.selectMvp-container {
  display: flex;
  flex-direction: column;
}

.selectMvp-container select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 18px;
  padding: 6px;
  border-radius: 6px;
  border: 1px #53abcd solid;
  width: fit-content;
  height: 2.5em;
  font-size: 14px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16em;
  height: 16em;
  border: 1px #53abcd solid;
  border-radius: 50%;
  align-content: center;
  flex-wrap: wrap;
  gap: 1.2em;
}

.timer-span {
  font-size: 3em;
  font-weight: 600;
  margin-top: 18px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.olaaa {
  background: none;
  border: 1px #53abcd solid;
  padding: 6px;
  border-radius: 6px;
  width: 5em;
  height: 2.5em;
  font-size: 14px;
}
