body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0 23px 0 23px;
  background-color: #9d6565;
  display: flex;
}

#root {
  background-color: beige;
  width: 100dvw;
  height: 100dvh;
}

.serverTime-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 18px;
  padding: 7px;
  border-radius: 6px;
  border: 1px #53abcd solid;
  width: fit-content;
  font-size: 14px;
}

h4 {
  font-size: 12px;
  padding: 0 0 3px 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.selectMvp-container {
  display: flex;
  flex-direction: column;
}

.selectMvp-container select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 18px;
  padding: 6px;
  border-radius: 6px;
  border: 1px #53abcd solid;
  width: fit-content;
  height: 2.5em;
  font-size: 14px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16em;
  height: 16em;
  border: 1px #53abcd solid;
  border-radius: 50%;
  align-content: center;
  flex-wrap: wrap;
  gap: 1.2em;
}

.timer-span {
  font-size: 3em;
  font-weight: 600;
  margin-top: 18px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.olaaa {
  background: none;
  border: 1px #53abcd solid;
  padding: 6px;
  border-radius: 6px;
  width: 5em;
  height: 2.5em;
  font-size: 14px;
}
